In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("archive/mimic-iv-clinical-database-demo-2.2/hosp/labevents.csv")

In [5]:
df.head()

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
0,172061,10014354,29600294.0,1808066,51277,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,15.4,15.40,%,10.5,15.5,NaN,ROUTINE,NaN
1,172062,10014354,29600294.0,1808066,51279,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,3.35,3.35,m/uL,4.6,6.1,abnormal,ROUTINE,NaN
2,172068,10014354,29600294.0,1808066,52172,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,49.7,49.70,fL,35.1,46.3,abnormal,ROUTINE,NaN
3,172063,10014354,29600294.0,1808066,51301,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,20.3,20.30,K/uL,4.0,10.0,abnormal,ROUTINE,NaN
4,172050,10014354,29600294.0,1808066,51249,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,31.1,31.10,g/dL,32.0,37.0,abnormal,ROUTINE,NaN

In [6]:
df2 = pd.read_csv("archive/mimic-iv-clinical-database-demo-2.2/hosp/d_labitems.csv")

In [7]:
df2.head()

   itemid                       label  fluid   category
0   50808                Free Calcium  Blood  Blood Gas
1   50826                Tidal Volume  Blood  Blood Gas
2   50813                     Lactate  Blood  Blood Gas
3   52029           % Ionized Calcium  Blood  Blood Gas
4   50801  Alveolar-arterial Gradient  Blood  Blood Gas

In [14]:

# Merge on itemid
labs = df.merge(
    df2,
    on="itemid",
    how="left"
)

# Sort by patient + time
labs = labs.sort_values(["subject_id", "charttime"])

In [17]:
labs.isna().sum()

labevent_id              0
subject_id               0
hadm_id              28420
specimen_id              0
itemid                   0
order_provider_id    90897
charttime                0
storetime              992
value                 9588
valuenum             12481
valueuom             16203
ref_range_lower      18728
ref_range_upper      18728
flag                 67452
priority              9329
comments             89273
label                    0
fluid                    0
category                 0
dtype: int64

In [15]:
labs.shape

(107727, 19)

In [20]:

# Inspect
labs_filtered = labs.dropna(subset=["value"])
labs_filtered.head(100)

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments,label,fluid,category
97934,55,10000032,NaN,64633434,51079,P28Z0X,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,NaN,"Cocaine, Urine",Urine,Chemistry
97935,52,10000032,NaN,64633434,51071,P28Z0X,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,NaN,"Amphetamine Screen, Urine",Urine,Chemistry
97936,59,10000032,NaN,64633434,51092,P28Z0X,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,OPIATE IMMUNOASSAY SCREEN DOES NOT DETECT SYNT...,"Opiate Screen, Urine",Urine,Chemistry
97937,54,10000032,NaN,64633434,51075,P28Z0X,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,BENZODIAZEPINE IMMUNOASSAY SCREEN DOES NOT DET...,"Benzodiazepine Screen, Urine",Urine,Chemistry
97938,58,10000032,NaN,64633434,51090,P28Z0X,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,METHADONE ASSAY DETECTS ONLY METHADONE (NOT OT...,"Methadone, Urine",Urine,Chemistry
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28927,125,10000032,22595853.0,70106972,51075,NaN,2180-05-07 00:10:00,2180-05-07 00:45:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,BENZODIAZEPINE IMMUNOASSAY SCREEN DOES NOT DET...,"Benzodiazepine Screen, Urine",Urine,Chemistry
28928,129,10000032,22595853.0,70106972,51092,NaN,2180-05-07 00:10:00,2180-05-07 00:45:00,POS,NaN,NaN,NaN,NaN,NaN,ROUTINE,OPIATE IMMUNOASSAY SCREEN DOES NOT DETECT SYNT...,"Opiate Screen, Urine",Urine,Chemistry
28929,123,10000032,22595853.0,70106972,51071,NaN,2180-05-07 00:10:00,2180-05-07 00:45:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,NaN,"Amphetamine Screen, Urine",Urine,Chemistry
28930,128,10000032,22595853.0,70106972,51090,NaN,2180-05-07 00:10:00,2180-05-07 00:45:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,METHADONE ASSAY DETECTS ONLY METHADONE (NOT OT...,"Methadone, Urine",Urine,Chemistry
28931,126,10000032,22595853.0,70106972,51079,NaN,2180-05-07 00:10:00,2180-05-07 00:45:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,NaN,"Cocaine, Urine",Urine,Chemistry

In [21]:
labs_filtered.value_counts(["subject_id"])

subject_id
10035631      9078
10014354      8282
10019003      7492
10039708      5779
10003400      3288
              ...
10019917        88
10019568        81
10018845        80
10022281        72
10031404        64
Name: count, Length: 100, dtype: int64

In [24]:

labs_specimen = labs_filtered[labs_filtered['subject_id']==10035631]

In [25]:
labs_specimen.shape

(9078, 19)

In [26]:

labs_specimen.head()

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments,label,fluid,category
59222,408532,10035631,29462354.0,67947070,51279,NaN,2112-09-17 20:30:00,2112-09-17 21:03:00,2.82,2.82,m/uL,4.6,6.2,abnormal,STAT,NaN,Red Blood Cells,Blood,Hematology
59223,408533,10035631,29462354.0,67947070,51283,NaN,2112-09-17 20:30:00,2112-09-17 21:03:00,3.8,3.80,%,1.2,3.2,abnormal,STAT,NaN,"Reticulocyte Count, Automated",Blood,Hematology
59224,408531,10035631,29462354.0,67947070,51277,NaN,2112-09-17 20:30:00,2112-09-17 21:03:00,18.9,18.90,%,10.5,15.5,abnormal,STAT,NaN,RDW,Blood,Hematology
59225,408517,10035631,29462354.0,67947070,51250,NaN,2112-09-17 20:30:00,2112-09-17 21:03:00,98,98.00,fL,82.0,98.0,NaN,STAT,NaN,MCV,Blood,Hematology
59226,408516,10035631,29462354.0,67947070,51249,NaN,2112-09-17 20:30:00,2112-09-17 21:03:00,35.0,35.00,%,31.0,35.0,NaN,STAT,NaN,MCHC,Blood,Hematology

In [28]:
labs_specimen.to_csv("labs_specimen.csv", index=False)